$preto: #111;
$cinza-claro: #9A9DA7;
$cinza-escuro: #666;
$verde: #0EB44C;
$vermelho: #FF5656;
$vermelho-escuro: darken($vermelho, 10);

// Tipos
$fonte-secundaria: 'Roboto', sans-serif;

// Botoes
$altura-botao: 30px;
$altura-botao-lg: 60px;

// Breakpoints
$screen-xl:                  1600 + 1px !default;
$screen-xl-min:              $screen-xl !default;