$preto: #111;
$cinza-claro: #9A9DA7;
$cinza-escuro: #666;
$verde: #0EB44C;
$vermelho: #FF5656;
$vermelho-escuro: darken($vermelho, 10);

// Types
$fonte-secundaria: 'Roboto', sans-serif;

// Buttons
$altura-botao: 30px;
$altura-botao-lg: 60px;

// Filter colors
$pepper: #EB354B;
$gluten-free: #D49D6C;
$seeds-free: #98AA51;
$vegetarian: #4ACF74;

// Breakpoints
$screen-xl:                  1600 + 1px !default;
$screen-xl-min:              $screen-xl !default;